## Pandas

In [3]:
import pandas as pd
import numpy as np

### series

In [4]:
data = {
    'Name': 'john',
    'Sex': 'male',
    'Age': 22
}

In [6]:
pd.Series(data)

Name    john
Sex     male
Age       22
dtype: object

In [7]:
array = np.array([22, 31, 42, 23])
pd.Series(array)

0    22
1    31
2    42
3    23
dtype: int64

In [ ]:
array = np.array(['john', 'male', 22])
pd.Series(array, index=['Name', 'Sex', 'Age'])